@font-face {
  font-family: "Poppins";
  src: url("../res/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("../res/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Abeezee";
  src: url("../res/fonts/ABeeZee/AbeezeeRegular.otf") format("opentype");
}

$primary : #ffffff;
$secondary : #000000;


html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  font-size: 16px;

  .desc{
    width: fit-content;
    max-height: 30px;
  }

  body {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    .sidebar {
      margin: 0;
      padding: 10px 20px;
      width: 200px;
      height: 90%;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 5px rgb(119, 119, 119);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all .5s ease;

      .top {
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        .logo {
          margin: 0;
          padding: 0;
          padding-left: 2px;
          width: 100%;
          height: 40px;
          overflow: hidden;
          text-decoration: none;
          cursor: pointer;
          border-bottom: 1px solid $secondary;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          .material-symbols-outlined {
            font-size: 1.75rem;
          }
          h1 {
            font-size: 1.25rem;
            text-transform: capitalize;
          }
        }
        .collapse {
          margin: 0;
          padding: 0%;
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          cursor: pointer;
          text-decoration: none;
          color: #333333;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          .material-symbols-outlined {
            font-size: 1.75rem;
          }
          h2 {
            text-transform: capitalize;
            font-size: .9rem;
          }
        }
        ul {
          margin: 0;
          margin-top: 5px;
          padding: 0;
        //   border: 1px solid $secondary;
          list-style: none;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: first baseline;
          justify-content: flex-start;
          gap: 20px;
          a {
            margin: 0;
            padding: 5px;
            // border: 1px solid $secondary;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 5px;
            text-decoration: none;
            color: $secondary;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            .material-symbols-outlined{
                margin: 0;
                font-size: 1.5rem;
                font-weight: 300;
            }
            h3{
                margin: 0;
                padding: 0;
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 600;
            }
          }
          .highlight{
            background-color: $secondary;
            color: $primary;
            h3{
                font-weight: 100;
            }
          }
        }
      }
    }

    main{
      margin: 0;
      padding: 0;
      height: 90%;
      width: calc(100% - 200px);
      box-sizing: border-box;
      box-shadow: 0px 0px 20px 5px rgb(119, 119, 119);
      border-radius: 10px;
      transition: all .5s ease;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .background{
        font-size: 20rem;
        opacity: 0.3;
        position: absolute;
      }
      .front{
        margin: 0;
        padding: 0;
        width: 75%;
        max-width: 500px;
        height: 200px;
        border: 1px solid #363636;
        box-shadow: 0px 0px 20px 5px rgb(119, 119, 119);
        border-radius: 20px;
        background-color: $primary;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
          font-weight: 100;
          text-transform: capitalize;
          font-size: 2rem;
          text-align: center;
          // text-decoration: underline;
          text-decoration-color: #363636;
        }
      }
    }
  }
}
