@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

html {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  body {
    width: 90%;
    height: 90%;
    background: linear-gradient(
      135deg,
      rgb(9, 27, 65),
      rgb(36, 59, 109),
      rgb(94, 99, 167),
      rgb(40, 39, 78)
    );
    border-radius: 10%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 5px 5px rgb(39, 39, 39);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .rotate-button {
      position: absolute;
      top: 50px;
      right: 50px;
      border: 1px solid white;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      background-image: url("../res/img/atom\ -\ Copy.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 10px;
      cursor: pointer;
      &:hover > span{
        display: block;
      }
      span{
        display: none;
        top: 120%;
        right: -10%;
        position: absolute;
        width: max-content;
        color: white;
        background-color: #00000094;
        font-size: .6rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: capitalize;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }

    .container {
      width: 60%;
      height: 60%;
      border-radius: 20%;
      border: 2px solid gray;
      background-color: #0000006c;
      backdrop-filter: blur(2px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .nucleus{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: radial-gradient(pink, blue);
        box-shadow: 0px 0px 50px 10px pink;
      }

      @keyframes orbit1 {
        0%{
            transform: rotatey(45deg) rotatex(30deg);
        }
        50%{
            transform: rotatey(180deg) rotatex(30deg);
        }
        100%{
            transform: rotatey(45deg) rotatex(30deg);
        }
      }
      @keyframes orbit2 {
        0%{
            transform: rotatex(30deg) rotateY(-45deg);
        }
        50%{
            transform: rotateX(30deg) rotateY(-180deg);
        }
        100%{
            transform: rotatex(30deg) rotateY(-45deg);
        }
      }

      .orbit {
        position: absolute;
        width: 80%;
        height: 80%;
        border: 5px solid white;
        border-radius: 50%;
      }
      .one{
        transform: rotatey(45deg) rotatex(30deg);
      }
      .two{
        transform: rotatey(-45deg) rotatex(30deg);
      }
      .rotate-orbit-one {
        animation: orbit1 5s linear infinite;
      }
      .rotate-orbit-two {
        animation: orbit2 5s linear infinite;
      }
    }
  }
}
